.container_calculadora {
    height: 90vh;
    width: 100vh;
    font-size: 7vh;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
    .container_calculadora {
        height: 100%;
        width: 50vh;
        font-size: 3vh;
        margin-top: 13vh;
        margin-bottom: 13vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
}