.container_operaciones {
    height: 100%;
    width: 25vh;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    button {
        width: 25vh;
        height: 12vh;
        background-color: rgb(255, 115, 0);
        color: black;
    }
    button:hover {
        color: white;
        background-color: rgb(230, 103, 0);
    }
    button:active {
        border: 5px solid black;
    }
}

@media only screen and (max-width: 600px) {
    .container_operaciones {
        width: 10vh;
        button {
            width: 10vh;
        }
    }
}