.container_operaciones {
    height: 100%;
    width: 30vh;
    display: flex;
    flex-wrap: wrap;
    button {
        width: 30vh;
        height: 15vh;
        background-color: rgb(255, 115, 0);
    }
}