.container_resetear {
    height: 100%;
    width: 25vh;
    button {
        height: 100%;
        width: 100%;
        background-color: rgb(192, 61, 0);
    }
    button:hover {
        color: white;
        background-color: rgb(168, 53, 0);
    }
    button:active {
        border: 5px solid black;
    }
}

@media only screen and (max-width: 600px) {
    .container_resetear {
        height: 100%;
        width: 10vh;
    }
}